@font-face {
font-family: SuisseWorks;
src: url(fonts/SuisseWorks-Bold-v1.woff2);
}
@font-face {
    font-family: Udemy;
    src: url(fonts/Udemy-Sans-Regular-v1.woff2);
}
.material-symbols-outlined {
    font-weight: bold;
    line-height: inherit;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Udemy;
    font-size: 14px;
    columns: #1c1d1f;
}
a {
    text-decoration: none;
    columns: #1c1d1f;
}
a:hover, button[type="submit"]:hover {
    color: #401b9c;
}
li {
    list-style: none;
}
button, input {
    background-color: transparent;
    border: 0px;
}
button, .btn, a {
    cursor: pointer;
}


.btn {
    background-color: transparent;
    border: 1px solid #1c1d1f;
    font-weight: bolder;
    line-height: 2.7em;
    padding: 0 1.2rem;
    display: inline-flex;
    align-items: center;
}
.btn a{
    color: #1c1d1f;
}
.btn.sm {
    padding: 0 0.5rem;
}
.btn.black{
    background-color: #1c1d1f;
}
.btn.black a {
    
    color: #fff;
}

.hamburger{
    display: none;
}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.4rem 2.4rem;
    box-shadow:  0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.main-nav > * {
    flex-grow: 1;
}
.main-nav form {
    flex-grow: 34;
}

.main-nav form {
    display: flex;
}
.main-nav form .search-bar {
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    flex-grow: 1;
    display: flex;
    padding: 0px 10px;
    margin: 7px;
    background-color: #ececec;
}
.main-nav form .search-bar input {
    width: 100%;
    height: 100%;
    padding: 12px 3px;
    outline: 0px;
}


.main-nav ul {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 15px;
}

.hover-card .card {
    display: none;
}