@import url(reset.css);
@import url(nav.css);

/********************************************************/
/*************************Header*************************/
/********************************************************/
header .myContainer {
    background-color: var(--light-grey);
    padding: 5rem 1rem;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-items: flex-end;

}

header .myContainer img {
    align-content: center;
    width: 20vw;
    min-width: 300px;
}

header .myContainer .card-content {
    padding: 40px 15px;
    width: 100vw;
    max-width: 44rem;
}

header .myContainer .card p {
    padding: 10px 0px;
    font-size: var(--large-font);
}

/*****************************************************************/
/*************************Courses Section*************************/
/*****************************************************************/

.courses-section {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3rem;
}

.courses-section>p {
    font-size: var(--xlarge-font);
}

/* courses nav bar */
#category-nav .nav {
    font-size: var(--large-font);
    font-weight: var(--bold-weight);
    overflow: hidden;
    flex-wrap: wrap;
    gap: 3rem 4.6rem;
    border: 0;
    max-height: 3rem;


}

#category-nav button {
    color: var(--grey);
    cursor: pointer;
    border: 0;
    padding: 0;
}

#category-nav button:hover,
#category-nav button.active {
    color: black;
}


.carousel {
    width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
    align-items: flex-start;
    top: 23%;

}

.carousel-control-next {
    justify-content: end;
    right: 0rem;
}

.carousel-control-prev {
    justify-content: start;
    left: -1.4rem;
}

.carousel button .circle span {
    background-color: var(--dark-grey);
    color: white;
}


.carousel-inner {
    flex-wrap: nowrap;
}

.carousel-item {
    margin-right: 0;
    display: block;
}


/* bordered container */
.courses-section .myContainer {
    border: 1px solid #d1d7dc;
    padding: 3.2rem 3rem;
    width: 100%;
}

.courses-section .myContainer>p {
    max-width: 80rem;
}

.course img {
    width: 100%;
}


/* courses */
.course {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}

#courses-container {
    padding: 0;
}

#courses-container .row {
    flex-wrap: nowrap;
    overflow: hidden;
}

.rating,
.course-name,
.price {
    font-weight: var(--bold-weight);
    font-size: var(--large-font);
}

.rating-description {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.rating-description .rating {
    color: #b4690e;
}

.stars span {
    color: #e59819;
    font-size: var(--medium-font);
}

/**********************************************************/
/*************************Feauters*************************/
/**********************************************************/
.feauters {
    background-color: var(--light-blue);
    padding: 1rem 0;
}

.feauters ul {
    width: 100%;
    justify-content: space-between;
    gap: 3rem var(--medium-gap);
    flex-wrap: wrap;
}

.feauters ul li {
    max-width: 33rem;
}

.circle span {
    background-color: #d1d7dc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle~strong {
    font-size: var(--large-font);
    margin-left: 1rem;
}


/************************************************************/
/*************************categories*************************/
/************************************************************/

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform 100ms cubic-bezier(.2, 0, 1, .9);
    width: 100%;

}

.img-wrapper img:hover {
    transform: scale(1.1);
}

/*****************************************************************/
/*************************feauters-topics*************************/
/*****************************************************************/

.feauters-topics {
    background: var(--light-blue);
    padding: 5rem 1rem;
}



.main-list {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-items: start;
    align-items: baseline;
    padding: 0;
}

.main-list li {
    flex-direction: column;
    align-items: flex-start;
}

.main-list .sub-lists ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.feauters-topics ul li a {
    text-decoration: underline;
    font-size: var(--large-font);
    font-weight: var(--medium-weight);
    padding: 2.3rem 0 1rem 0;
}

.feauters-topics ul li a:not(:hover) {
    color: var(--light-purple);

}

.feauters-topics ul li a~span {
    font-size: var(--medium-font);
}

@media only screen and (max-width: 760px) {

    /* For medium screen: */
    .feauters-topics .main-list h4 {
        font-size: var(--medium-font);
    }

    .feauters-topics ul li a {
        font-size: var(--small-font);
    }

    .feauters-topics ul li a~span {
        font-size: 1rem;
    }
}


/************************************************************/
/*************************Instructor*************************/
/************************************************************/
.instructor {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem 9rem;
}

.instructor img {
    width: 25vw;
    min-width: 250px;
    max-width: 400px;
}

.instructor .details {
    max-width: 45rem;
}

.instructor .details p {
    font-size: var(--xlarge-font);
    margin-bottom: var(--medium-gap);
}

/* business */


@media only screen and (min-width: 1000px) {

    /* For medium screen: */
    .instructor {
        flex-direction: row;
        text-align: left;
    }

    .business {
        flex-direction: row-reverse;
    }
}

/***********************************************************/
/*************************companies*************************/
/***********************************************************/
.companies {
    background-color: var(--light-blue);
    padding: 2rem 0;
}

.companies h2 {
    font-size: 2.4rem;
}

.companies .myContainer {
    align-items: center;
    text-align: center;
}

/********************************************************/
/*************************Footer*************************/
/********************************************************/

/* layout */
footer {
    background: var(--dark-grey);
    padding: 4rem 0 1rem 0;
}

footer .myContainer {
    flex-direction: row;
    justify-content: space-between;
}

footer .links-language {
    padding-bottom: 7rem;
    flex-wrap: wrap;
}

footer .links-language ul {
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.language-container {
    flex-grow: 5;
    display: inline-flex;
    flex-direction: row-reverse;
}

/* language button */
.language-container .btn {
    border-color: white;
    padding: 0 3rem 0 1rem;
}

.language-container .btn span {
    color: white;
    font-weight: var(--light-weight);
    font-size: var(--large-font);
    margin-right: 1rem;
}

/* links */
footer .links-language ul li a {
    font-size: var(--medium-font);
    padding: 0.4rem 0;
    color: white;
}

footer .links-language ul li a:hover {
    color: white;
    text-decoration: underline;
}

.copyright span {
    color: white;
    font-size: 1.2rem;
}